@import "../common.css";
@import "../header.css";
@import "../footer.css";

@import "./article.css";

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    gap: 40px;
}

.description-content {
    max-width: 700px;
}


