* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);   
}

.location {
    font-weight: 600;
    font-size: 30px;

}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    
}

.nav-links li a {
    text-decoration: none;
    color: #68686A;
    
}

.nav-links li a:hover {
    color: #61C15C;
    text-shadow: 0 0 10px #61C15C;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    gap: 40px;
}

.hero-content {
    max-width: 700px;
}

.hero-content h2 {
    font-weight: 700px;
    font-size: 52px;
    margin-bottom: 10px;
}

.hero-image {
    width: 100%;
    max-width: 400px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 200px 200px;
}

.blog1,
.blog2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 5%;
    gap: 0;
}

.blog-content {
    background-color: #FEF3EF;
    padding: 3rem;
}

.blog2 .blog-content {
    background-color: #F4FBF4;
}

.blog-content h3 {
    font-weight: 700px;
    font-size: 32px;
    margin-bottom: 5px;
}

.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-btn {
    display: block;
    width: fit-content; 
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #61C15C;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: #61C15C;
    
}

.blog-btn:hover, .blog-btn:focus {
    background: #61C15C40;
}

