* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);   
    margin-bottom: 1rem;
}

.location {
    font-weight: 600;
    font-size: 2rem;

}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    
}

.nav-links li a {
    text-decoration: none;
    color: #68686A;
    
}

.nav-links li a:hover {
    color: #61C15C;
    text-shadow: 0 0 10px #61C15C;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    gap: 40px;
}

.description-content {
    max-width: 700px;
}

h2 {
    font-weight: 700px;
    font-size: 52px;
    margin-bottom: 10px;
}

.description-img {
    width: 100%;
    max-width: 400px;
}

.description-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 200px 200px;
}

.blogs {
    margin-bottom: 3rem;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 8%;
    gap: 0;
}

.blog-content {
    background-color: #FEF3EF;
    padding: 3rem;
}   

.blog:nth-child(2) .blog-content {
    background-color: #F4FBF4;
}

.blog-content h3 {
    font-weight: 700px;
    font-size: 32px;
    margin-bottom: 5px;
}

.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-btn {
    display: block;
    width: fit-content; 
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #61C15C;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: #61C15C;
    
}

.blog-btn:hover, .blog-btn:focus {
    background: #61C15C40;
}

.my-skills {
    padding: 20px 8%;
    margin-bottom: 3rem;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 30px;
}

.skill {
    border-bottom: 3px solid #BDC1CA;
    padding: 1rem 0;  
    font-size: 24px;
}

.my-work {
    margin-bottom: 3rem;
}
.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "label content1"
        "label content2"
        "label content3";
    padding: 20px 8%;
    height: 500px;  
    gap: 1.5rem;

}

.work-label {
    grid-area: label;
    padding: 1.5rem 0;
}

.work-content:first-child {
    grid-area: content1;
}

.work-content:nth-child(2) {
    grid-area: content2;
}

.work-content:last-child {
    grid-area: content3;
}

.work-content {
    display: flex;
    border-bottom: 3px solid #BDC1CA;
    padding: 1.5rem 0;
    align-items: flex-start;
    gap: 1.5rem;
    
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hobbies {
    padding: 20px 8%;
    margin-bottom: 3rem;
}

.hobby-header h2 {
    margin: 0;
    white-space: nowrap;                
}

.hobby-header p {
    max-width: 500px;                  
}

.hobby-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.hobby-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    gap: 24px;
}

.card {
    height: 550px;
    width: 260px;
    overflow: hidden;
    position: relative;
}

.placeholder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.placeholder {
    height: 260px; 
    width: 550px;
    overflow: hidden;
}

.placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: transparent;
    padding: 1rem;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.overlay-text h4 {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.overlay-text:hover,  .overlay-text:focus {
    background: #323743BF;
    color: #FFFFFF;
}

.footer {
    display: flex;
    background-color: #1e2128;
    color: #FDFEFF;
    padding: 40px 8%;
    gap: 40px;
}

.contacts {
    flex: 1;
}

address {
    font-style: normal;
    margin-bottom: 1.5rem;
}
address p a {
    color: #FFFFFF;
}

.socials {
    display: flex;
    justify-content: left;
    gap: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-box {
    position: relative;
}

.form-box label {
    position: absolute;
    top: -11px;
    left: 5px;
    z-index: 1;
    background-color: #1e2128;
    padding: 0 3px;
}

.form-inp {
    border: 1px solid #DDE0E7;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    background: transparent;
    padding: 1rem 1rem;
    border-radius: 5px;
    color: #FFFFFF;
}

.form-inp:focus {
    outline:  2px solid #61C15C;
}

#message {
    resize: none;
    height: 150px;
}   

.form-btn {
    background: #61C15C;
    color: #FFFFFF;
    padding: 1rem 3rem;
    border-radius: 5px;
    width: 200px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: box-shadow .2s;
}

.form-btn:hover {
    box-shadow: 0 0 10px #61C15C;
}

.last-article {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%; 

}

.last-article-content {
    padding: 40px;
    width: 100%;
    flex: 1;
    max-width: 800px;
}

.last-article-content > * {
    margin-bottom: 1.5rem;
}

.last-article-content h3 {
    font-size: 40px;    
    line-height: 1.2;
    word-break: normal;
}

.last-article-img {
    width: 100%;  
    flex: 2;
    min-width: 315px;
}
.last-article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 40px;
    padding: 20px 8%;
    max-width: 100%;
}

.article-content {
    width: 100%;
}

.article-img {
    width: 100%;
}
.article-img img {
    width: 100%;
    object-fit: fill;
    display: block;
}

.article-content h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1rem; 
}

.next-article-btn {
    display: block;
    width: fit-content; 
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #61C15C;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: #61C15C;
}

.next-article-btn:hover, .next-article-blog-btn:focus {
    background: #61C15C40;
}

.articles {
    margin-bottom: 3rem;
}

@media (max-width: 800px) {
    .last-article {
        flex-direction: column;
    }

    .last-article-img,
    .last-article-content {
        width: 100%;
        flex: unset;
        padding: 0;
    }

    .last-article-content p {
        display: none;
    }
   
    
    .last-article-img img {
        object-fit: fill;
    }

    .last-article-content h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 1rem; 
    }
}





